@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --color-background: #fff3e0;
  --color-foreground: #5c4033;
  --color-primary: #5c4033; /* Brownie brown */
  --color-primary-foreground: #fff3e0; /* Cream contrast */

  --color-secondary: #d9a566; /* Caramel */
  --color-secondary-foreground: #5c4033; /* Brownie brown text */

  --color-muted: #ebddcc; /* Beige */
  --color-accent: #f5cba7; /* Peachy */
  --color-border: #c9a77c; /* Caramel border */
  --color-hover: #b88746; /* Dark caramel */
}
